
.contactContainer{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(#244e779f, #244e779f);

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.contactLinks{
    width: 40%;
    height: 400px;

    position: relative;
    top: -60px;
}

.title{
    color: white;
    font-size: 2.5rem;

    font-family: math;
    letter-spacing: 1.2px;
    margin-bottom: 50px;

    text-transform: uppercase;

    span{
        display: block;
        text-decoration: underline;
        text-decoration-thickness: 1.5px;
        text-underline-offset: 4px;

        color: red;
    }
}

.title::first-letter{
    font-size: 3rem;
}

.title>span::first-letter{
    font-size: 3rem;
    color: red;
}

.contactDetails{
    width: 80%;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contactBox{
    width: 120px;
    height: 120px;
    background-color: rgba(255, 243, 243, 0.692);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contactBox i{
    font-size: 2rem;
    color: rgb(125, 94, 249);
    margin: auto;

    position: relative;
    top: -10px;
}


.map, .number, .mail{
    text-align: center;
    position: relative;
    top: -20px;
    text-decoration: none;
    color: #5c4e34;
    text-decoration: underline;
    font-size: 18px;
    transition: 250ms;
}

.map:hover, .number:hover, .mail:hover{
    color: rgb(217, 31, 31);
    scale: 1.1;
}

.socialLinks{
    width: 60%;

    margin-top: 50px;
    margin-left: 80px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.socialBox{
    width: 65px;
    height: 65px;
    background-color: #c69e5483;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 300ms;

}

.socialIcon img{
    width: 32px;
    transition: 300ms;

    position: relative;
    top: 1px;
}

.socialIcon img:hover{
    filter: grayscale(0);
    scale: 1.05;
}

.socialBox:hover{
    scale: 1.1;
    background-color: #8e754683;
    box-shadow: 0 0 10px 1px gold;
}


.contactform{
    width: 400px;
    /* background-color: rgba(0, 255, 255, 0.396); */
    padding: 10px 0;

    position: relative;
    left: -60px;
}

.input{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 20px;
    justify-content: space-between;
}

.input label{
    color: rgb(208, 188, 87);
}

.input input{
    width: 100%;
    font-size: 18px;
    padding: 15px;
    margin: 8px 0 20px;
    border-radius: 10px;
    outline: none;

    background-color: transparent;

    color: white;
    /* border: none; */
    border: 1px solid #f5deb3a8;
    box-shadow: 0 0 5px .5px #f5deb3a8;
}

.input input::placeholder {
    color: #eed8d8af;
}

.textarea{
   width: 100%;
   margin: 15px 0;
   border-radius: 10px;

   textarea{
    /* font-family: math; */
    padding: 10px;
    width: 100%;
    height: 150px;
    border-radius: 10px;
    outline: none;
    font-size: 20px;
    font-weight: 500;

    background-color: #193e637c;
    border: 1px solid #f5deb38d;
    box-shadow: 0 0 8px .5px #f5deb38d;

    color: white;
   }
}

.textarea textarea::placeholder {
    color: #eed8d8af;
}


.buttons{
    width: max-content;
    margin: 5px auto;

    position: relative;
    top: 10px;
}

.buttons button{
    padding: 10px 20px;
    font-size: 18px;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;

    transition: 300ms;
}

.sendBtn{
    margin-right: 20px;
    color: #02d002;
    font-weight: 600;
    border: 2px solid #2b8f3c;
}

.clearBtn{
    margin-left: 20px;
    color: yellow;
    border: 2px solid rgb(119, 119, 20);
}

.sendBtn:hover{
    border: 2px solid #02d002;
    scale: 1.05;
    box-shadow: 0 0 10px 1px #02f002;
}

.clearBtn:hover{
    border: 2px solid yellow;
    scale: 1.05;
    box-shadow: 0 0 10px 1px rgba(232, 232, 0, 0.821);
}


@media (max-width: 800px){

    .contactContainer{
        padding: 20px 0;
    }

    .title{
        margin-left: 20px;
    }

    .contactLinks{
        width: 100%;
        position: static;
        margin-bottom: 20px;
    }


    .contactform{
        position: static;
        width: 90%;
    }

    .contactDetails{
        width: 100%;
        margin: 0;
    }

    .contactBox{
        width: 100px;
        height: 100px;
        justify-content: start;
    }

    .socialLinks{
        width: 80%;
        margin: 0 auto;
        margin-top: 30px;
    }

}