

.projectContainer{
    width: 100%;
    min-height: 100vh;
    padding: 20px 0;
    background-image: linear-gradient(#193e637c, #244e779f);

}

.projectHeading{
    width: max-content;
    margin: 20px auto;

    text-align: center;
}

.projectHeading span{
    font-size: 14px;
    color: rgb(201, 198, 198);
}

.title{
    color: white;
    font-size: 2rem;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    font-family: math;
    letter-spacing: 1.2px;
    margin-bottom: 0;

    span{
        display: inline-block;
        text-decoration: underline;
        text-decoration-thickness: 1.5px;
    }
}

.title::first-letter{
    font-size: 2.5rem;
}

.title>span{
    font-size: 2.5rem;
    color: red;
}

.projects{
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.projectCard{
    width: 320px;
    max-height: 410px;
    border-radius: 8px;

    background-color: rgba(213, 213, 213, 0.923);
    margin: 20px;
    padding: 10px 0;

    transition: 500ms;
}

.projectCard:hover{
    scale: 1.05;
    box-shadow: 0 0 10px 4px rgba(226, 224, 214, 0.473);
}

.cardImage{
    margin: auto;
    width: 300px;
    height: 200px;

    background-color: rgb(255, 255, 255);
    border-radius: 10px;

    position: relative;
    overflow: hidden;
}

.cardImagePrev{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: .9;

 
}

.cardImageLinks{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.44);

    position: absolute;
    top: 0;
    visibility: hidden;
    opacity: 0;
    transition: 500ms ease;

    display: flex;
    justify-content: center;
    align-items: center;

}

.cardImageLinks a{
    margin: 0 20px;
    width: 55px;
    height: 55px;
    text-decoration: none;
    background-color: rgb(72, 72, 72);
    border-radius: 50%;

    transition: 250ms ease;


    display: flex;
    align-items: center;
    justify-content: center;

    img{
        width: 25px;
    }

    i{
        font-size: 20px;
        color: white;
    }
} 

.cardImage:hover .cardImageLinks{
    visibility: visible;
    opacity: 1;
    cursor: pointer;
}

.cardImageLinks a:hover{
    scale: 1.1;
    
    i{
        color: rgb(197, 197, 4);
    }
}


.cardDetails{
    width: 90%;
    height: 35%;
    margin: 8px auto;
    /* background-color: rgb(54, 78, 70); */
}

.cardCategory{
    width: 95px;
    margin: auto;
    text-align: center;
    padding: 5px 4px;
    font-size: 13px;
    font-family: math;
    font-weight: 600;
    color: #6271E9;
    background-color: rgba(255, 234, 234, 0.895);
    border-radius: 5px;
    position: relative;
    top: -22px;
}

.projectDetails{
    position: relative;
    top: -18px;
}

.cardTitle{
    width: max-content;
    margin: 5px auto;
    font-size: 16px;
    font-family: math;
}

.cardDiscription{
    font-size: 14px;
    width: 100%;
    max-height: 55px;
    text-align: center;

    font-family: serif;
    color: rgb(60, 60, 60);
}

.cardSkills{
    width: 98%;
    max-height: 60px;
    margin: 10px auto;
    padding: 6px 10px;

    position: relative;
    top: 5px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

}

.cardSkills h3{
    position: absolute;
    top: -14px;
    width: max-content;
    margin: auto;
    font-size: 13.5px;
    font-family: math;
    text-transform: capitalize;
    color: rgba(137, 43, 226, 0.768);
}

.cardSkillName{
    padding: 2px 4px;
    border-radius: 2px;
    font-size: 14px;
    color: rgba(29, 29, 29, 0.827);
    text-transform: capitalize;
}
