.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(0deg, #343434 50%, #FF5C35 100%);
    animation: spin 1s linear infinite;
}

.innerCircle {
    width: 90%;
    height: 90%;
    background-color: #1b2735c9;
    border-radius: 50%;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
