
/* Container styles */
.container {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient( #273239d2, #53677b7c);
    position: relative;
    padding: 20px 0;
}

.title{
    margin: 10px auto 45px auto;
    color: white;
    font-size: 2rem;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-align: center;
    font-family: math;
    letter-spacing: 1.2px;
}

.title::first-letter{
    font-size: 2.5rem;
    color: red;
}

/* Timeline styles */
.timeline {
    width: 70%;
    position: relative;
    top: 10px;
    border-radius: 4px;
    margin: auto;
    overflow: hidden;
}

.timeline::after {
    content: "";
    position: absolute;
    top: 19px;
    left: 50%;
    margin-left: -2px;
    border-right: 2px dashed #4b546f;
    height: 72%;
    display: block;
    z-index: 1;
}

/* Timeline row */
.timelineRow {
    padding-left: 50%;
    position: relative;
    margin-bottom: 40px;
}

.timelineTime {
    position: absolute;
    right: 50%;
    top: 15px;
    text-align: right;
    margin-right: 20px;
    color: #bcd0f7;
    font-size: 1.5rem;
}

.timelineTime small {
    display: block;
    font-size: 0.8rem;
}

/* Timeline content */
.timelineContent {
    position: relative;
    padding: 20px 30px;
    background: #2d3b5e;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transition: 250ms;
}

.timelineContent::after {
    content: "";
    position: absolute;
    top: 20px;
    height: 16px;
    width: 16px;
    background: #2d3b5e;
}



.timelineContent::before {
    content: "";
    position: absolute;
    top: 20px;
    right: -51px;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    z-index: 10;
    background: #272e48;
    border: 2px dashed #4b546f;
    z-index: 8;
}

/* Headings and text */
.timelineContent h4 {
    margin: 0 0 20px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 150%;
}

.timelineContent p {
    margin-bottom: 30px;
    line-height: 150%;
    color: #828ca9;
    padding: 0;

    h4{
        color: #deddddef;
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
    }
}

/* Icons */
.timelineContent i {
    font-size: 1rem;
    line-height: 100%;
    padding: 15px;
    border-radius: 100px;
    background: #29314e;
    margin-bottom: 10px;
    display: inline-block;

    span{
        font-size: 1.2rem;
        color: #b7b7b7;
        position: relative;
        top: 5px;
    }
}

.schoolName{
    margin-bottom: 20px;
    text-align: center;

    h4{
        font-size: 1.5em;
        margin: 0;
        padding: 0;
        color: #deddddef;
        font-family: system-ui;
    }

    a{
        color: rgba(207, 91, 91, 0.836);
    }
}

/* Thumbnails */
.thumbs {
    margin-bottom: 20px;
    display: flex;
}

.thumbs img {
    margin: 5px;
    max-width: 60px;
}


/* Alternate rows */
.timelineRow:nth-child(even) .timelineContent {
    margin-left: 40px;
    text-align: left;
}

.timelineRow:nth-child(even) .timelineContent::before {
    content: "";
    position: absolute;
    top: 20px;
    left: -53px;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    z-index: 10;
    background: #272e48;
    border: 2px dashed #4b546f;
}


.timelineRow:nth-child(odd) {
    padding-left: 10px;
    padding-right: 50%;
}

.timelineRow:nth-child(odd) .timelineTime {
    right: auto;
    left: 50%;
    text-align: left;
    margin-right: 0;
    margin-left: 20px;
}

.timelineRow:nth-child(odd) .timelineContent {
    margin-right: 40px;
}

@media (max-width: 992px) {
    .timeline {
        padding: 15px;
    }
    .timeline::after {
        border: 0;
    }
    .timelineRow:nth-child(odd) {
        padding: 0;
    }
    .timelineRow:nth-child(odd) .timelineTime {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 0 10px 0;
    }
    .timelineRow:nth-child(odd) .timelineContent {
        margin: 0;
    }
    .timelineRow:nth-child(even) {
        padding: 0;
    }
    .timelineRow:nth-child(even) .timelineTime {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 0 10px 0;
        text-align: left;
    }
    .timelineRow:nth-child(even) .timelineContent {
        margin: 0;
    }
}

@media (max-width: 500px){
    .timeline {
        width: 100%;
        padding: 0 20px;
    }

    .timelineContent{
        padding: 20px;
    }

    .timelineRow{
        margin-bottom: 80px;
    }

    .timelineContent::before {
        content: "";
        position: static;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border-radius: 0;
        z-index: 0;
        background: transparent;
        border: none;
    }

    .timelineContent::after {
        top: 16px;
    }

    .schoolName h4{
        font-size: 1.2rem;
    }
}
